[Unit]
Description=Client Telegram Bot Generation Image with LeonardoAI API
After=network.target


[Service]
WorkingDirectory=/var/www/telegram_bot_AI_generation_images
ExecStart=/var/www/telegram_bot_AI_generation_images/.venv/bin/python3 /var/www/telegram_bot_AI_generation_images/main.py
Type=simple
User=inside
RestartSec=20
Restart=always


[Install]
WantedBy=multi-user.target
